* {
  /* border: 1px dashed red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
} 




.login-form, .register-form, .reset-form {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 11;
  justify-content: center;
}

.auth-window {
  width: 320px;
  height: 384px;
  background-size: 320px 384px;
  background-image: url('/static/assets/auth.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  margin-top: 15%;
}

.auth-content {
  padding: 25px;
}

.auth-content p {
  font-size: 15px;
  font-weight: 300;
}

h6 {
  font-size: 18px;
  font-weight: 400;
}

.auth-window input[type=email] {
  width: 272px;
  height: 40px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  border: 5px solid white;
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 400;
}

.auth-window input[type=text] {
  width: 272px;
  height: 40px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  border: 5px solid white;
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 400;
}

.auth-window input[type=password] {
  width: 272px;
  height: 40px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  border: 5px solid white;
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 400;
}

.auth-checkbox {
  display: grid;
  grid-template-columns: 1fr 20fr;
}

.auth-checkbox .checkbox {
  display: flex;
  justify-content: right;
  align-items: center;
}

.auth-window input[type=checkbox] {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  color: white;
  border-style: none;
  margin-right: 10px;
  color: #1F1F1F;
}

.auth-window button {
  width: 270px;
  height: 38px;
  border-radius: 5px;
  color: white;
  border-style: none;
  margin-top: 30px;
  color: #1F1F1F;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.auth-content-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.auth-content-links-ceneter {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

.auth-content-links p {
  text-decoration: none;
  cursor: pointer;
}

.auth-content-links p:hover {
  text-decoration: underline;
}

.auth-content-links-ceneter p {
  text-decoration: none;
  cursor: pointer;
}

.auth-content-links-ceneter p:hover {
  text-decoration: underline;
}

.auth-content-links .last {
  text-align: end;
}

.auth-content-links-ceneter .center {
  text-align: center;
}



.reset-window {
  width: 320px;
  height: 182px;
  background-size: 320px 182px;
  background-image: url('/static/assets/reset.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  margin-top: 15%;
}

.reset-content {
  padding: 25px;
}

.reset-content p {
  font-size: 15px;
  font-weight: 300;
}

.reset-window input[type=email] {
  width: 272px;
  height: 40px;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
  border: 5px solid white;
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 400;
}

.reset-window button {
  width: 145px;
  height: 38px;
  border-radius: 5px;
  color: white;
  border-style: none;
  color: #1F1F1F;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.reset-content-links {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.reset-content-links p {
  text-decoration: none;
  cursor: pointer;
}

.reset-content-links p:hover {
  text-decoration: underline;
}









body {
  background-color: #1F1F1F;
  z-index: -10;
}

header, footer {
  background-color: #151515;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
  font-weight: 300;
  z-index: 10;
}

header {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 25px;
  position: fixed;
  width: 100%;
  top: 0px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 150px;
}

.nav-item {
  color: white;
}

.profile-div {
  position: absolute;
  right: 70px;
 }

.profile-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2C2C2C;
  background-image: url('/static/assets/profile.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.logo-div {
  position: absolute;
  left: 70px;
}

.site-logo {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.elements {
  z-index: 1;
  padding-top: 80px;
}


h1 {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 15px;
  text-align: center;
}

.gradient {
  background-image: linear-gradient(to left, #BDEEE5, #36D0B6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: 400;
  margin: 100px 0px;
  text-align: center;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px 15%;
  font-weight: 300;
  text-align: center;
}

.background-light1 {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 500px;
  background: radial-gradient(
    ellipse closest-side at center,
    #1AFFD840 80%,
    transparent 100%
  );
  filter: blur(300px);  /* Добавляет размытие */
  z-index: -1;
}

.background-light2 {
  left: 10%;
  position: absolute;
  top: 1450px;
  width: 80%;
  height: 300px;
  background: radial-gradient(
    ellipse closest-side at center,
    #1AFFD840 50%,
    transparent 100%
  );
  filter: blur(200px);  /* Добавляет размытие */
  z-index: -1;
}

.background-light3 {
  left: -20%;
  position: absolute;
  top: 300px;
  width: 80%;
  height: 300px;
  background: radial-gradient(
    ellipse closest-side at center,
    #1AFFD840 50%,
    transparent 100%
  );
  filter: blur(250px);  /* Добавляет размытие */
  z-index: -1;
}

.background-light4 {
  left: 10%;
  position: absolute;
  top: 1450px;
  width: 80%;
  height: 300px;
  background: radial-gradient(
    ellipse closest-side at center,
    #1AFFD840 50%,
    transparent 100%
  );
  filter: blur(200px);  /* Добавляет размытие */
  z-index: -1;
}






.img-graphic {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}








.info-block {
  margin: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-block-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
.info-block-item:nth-child(1) { margin-bottom: 50px; }
.info-block-item:nth-child(2) { margin-bottom: 50px; }

.info-block-text {
  padding-left: 20px;
  padding-right: 20px;
}

.info-icon1 {
  width: 100px;
  height: 100px;
  background-size: 75px 75px;
  background-image: url('/static/assets/icon1.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 15px;
}

.info-icon2 {
  width: 100px;
  height: 100px;
  background-size: 75px 75px;
  background-image: url('/static/assets/icon2.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 15px;
}

.info-icon3 {
  width: 100px;
  height: 100px;
  background-size: 75px 75px;
  background-image: url('/static/assets/icon3.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 15px;
}

.info-icon4 {
  width: 100px;
  height: 100px;
  background-size: 75px 75px;
  background-image: url('/static/assets/icon4.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 15px;
}






.how-block {
  margin: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "icon ."
    "icon ."
    "icon .";
  margin-bottom: 200px;
}

.how-block-image {
  width: 700px;
  height: 390px;
  border: 1px solid white;
  border-radius: 15px;
  grid-column: 3;
  grid-area: icon;
  margin-right: 30px;
  background-size: contain;
  background-image: url('/static/assets/panel.png');
  background-repeat: no-repeat;
  background-position: center;
}

.how-block-item {
  display: grid;
  grid-template-columns: 1fr 20fr;
  align-items: center;
  margin: 30px;
}

.point-icon {
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-image: url('/static/assets/point.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}




.about-page {
  margin: 0 60px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}
.about-page p {
  margin-bottom: 60px;
}

.about-page-item:nth-child(2) {
  display: flex;
  justify-content: right;
  align-items: center;
}

.about-page-image {
  margin-top: 50px;
}

.about-page-image img {
  border: 2px white solid;
  border-radius: 30px;
}
h5 {
  display: flex;
  font-size: 33px;
  font-weight: 400;
  margin-top: 60px;
}

.blog-content {
  margin: 60px 150px;
}

.blog-item {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.blog-item h5 {
  display: flex;
  font-size: 33px;
  font-weight: 400;
  margin-top: 0px;
}

.blog-item-icon {
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.blog-line {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-size: 100 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D9D9D94D;
  margin: 20px 0px;
}



/* .center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.single-button {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  background: #2C2C2C;
  border: none;
  cursor: pointer;
  color: white;
}

.single-button b {
  color: white;
} */







footer {
  margin-bottom: 0px;
  font-size: 15px;
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-links a {
  color: #36D0B6;
  padding-right: 10px;
}

.footer-team {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-team-block {
  display: flex;
}

.footer-team-image {
  justify-content: left;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-image: url('/static/assets/LostLogic.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-right: 10px;
  padding-right: 50px;
}

.footer-right {
  display: flex;
  justify-content: right;
  align-items: end;
}

.footer-right a {
  margin-left: 35px;
}

.discord {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url('/static/assets/discord.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.vk {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url('/static/assets/vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.telegram {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url('/static/assets/telegram.svg');
  background-repeat: no-repeat;
  background-position: center;
}