<html>

<div class="portfolio">
    <h1><span class="gradient">Портфели пользователя</span></h1>
    <form method="post" class="form add-api">
        {% csrf_token %}
        <h6><span class="gradient">API ключ</span></h6>
        <div class="api-key">
            <input type="text" name="Token" required>
            <button type="submit" name="add-token">Добавить</button>
        </div>
    </form>
    <div class="portfolio-container">
        {% for token in var.tokens %}
            <div class="container">
                <h2><span class="gradient">{{ token.name }}</span></h2>
                <p>Общее число бумаг: {{ token.total_stocks }}</p>
                <p>Стоимость портфеля: {{ token.total_cost }}</p>
                <p>
                    <a href="?page=token-{{ token.id }}">
                        <button>Перейти</button>
                    </a>
                </p>
                <p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="Token" value="{{ token.id }}">
                        <button type="submit" name="remove-token">Удалить</button>
                    </form>
                </p>
            </div>
        {% endfor %}
    </div>
</div>

</html>