<html>
<div class="portfolio">
    <h2>
        Портфель:
        <span class="gradient">«{{ var.portfolio.name }}»</span>
    </h2>
    <div class="analize-container">
        <div class="container">
            <p>
                Текущая стоимость:
                <span class="gradient">
                    {{ var.metrics.total_value }} ₽
                </span>
            </p>

            <p>
                Инвестировано:
                <span class="gradient">
                    {{ var.metrics.total_invested }} ₽
                </span>
            </p>

            <p>
                Общая прибыль:
                <span class="gradient">
                    {{ var.metrics.total_profit }} ₽
                </span>
            </p>

            <p>
                Доходность портфеля:
                <span class="gradient">
                    {{ var.metrics.total_yield_pct }}%
                </span>
            </p>

            <p>
                Средняя доходность активов:
                <span class="gradient">
                    {{ var.metrics.avg_yield_pct }}%
                </span>
            </p>

            <p>
                Лучший актив:
                <span class="gradient">
                    {{ var.metrics.best.name }}
                </span>
                ({{ var.metrics.best.yield_pct }}%)
            </p>

            <p>
                Худший актив:
                <span class="gradient">
                    {{ var.metrics.worst.name }}
                </span>
                ({{ var.metrics.worst.yield_pct }}%)
            </p>
        </div>

        <div class="container">
            <canvas id="chart-portfolio-distribution" width="400" height="160"></canvas>
        </div>

    </div>

    <h2>Посмотреть прогноз:</h2>
    {% for stock in var.portfolio.stocks %}
        <div class="chart-container">
            <h3><span class="gradient">{{ stock.name }}</span></h3>
            <button class="load-chart-btn"
                    data-id="{{ var.portfolio.id }}"
                    data-figi="{{ stock.figi }}"
                    data-chart="chart-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                Показать график
            </button>
            <canvas id="chart-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" width="600" height="300"></canvas>
    <!--        <canvas id="chart-{{ forloop.counter }}" width="800" height="400"></canvas>-->
        </div>
    {% endfor %}
</div>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.load-chart-btn');

        buttons.forEach(btn => {
            btn.addEventListener('click', function() {
                const id = this.dataset.id;
                const figi = this.dataset.figi;
                const chartId = this.dataset.chart;
                const canvas = document.getElementById(chartId);

                // если график уже загружен — не грузим заново
                if (canvas.dataset.loaded === "true") {
                    return;
                }

                this.textContent = "Загрузка...";

                fetch(`/get_chart/?id=${id}&figi=${figi}`)
                    .then(res => res.json())
                    .then(data => {
                        if (data.error) {
                            alert("Ошибка: " + data.error);
                            this.textContent = "Ошибка";
                            return;
                        }
                        canvas.style.display = 'block';
                        btn.style.display = 'none';

                        new Chart(canvas, {
                            type: data.chart_type || 'line',
                            data: {
                                labels: JSON.parse(data.labels),
                                datasets: [
                                    {
                                        label: 'Реальная цена акции',
                                        data: JSON.parse(data.data),
                                        borderColor: 'rgb(31,164,135)',
                                        borderWidth: 2,
                                        tension: 0.1
                                    },
                                    {
                                        label: 'Предсказанная цена акции',
                                        data: data.predict_data,
                                        borderColor: 'rgb(189, 238, 229)',
                                        borderWidth: 2,
                                        tension: 0.3,
                                        borderDash: [5, 5]
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: false
                                    },
                                    x: {
                                        ticks: {
                                        maxRotation: 45,
                                        minRotation: 45
                                        }
                                    }
                                },
                                plugins: {
                                    zoom: {
                                        zoom: {
                                            wheel: {
                                                enabled: true, // включить масштабирование колесиком мыши
                                            },
                                            pinch: {
                                                enabled: true // включить масштабирование на тач-устройствах
                                            },
                                            mode: 'x', // разрешить масштабирование по обеим осям
                                            limits: {
                                                x: {min: 'original', max: 'original'}
                                            }
                                        },
                                        pan: {
                                            enabled: true, // включить перемещение
                                            mode: 'x', // разрешить перемещение по обеим осям
                                        }
                                    }
                                }
                            }
                        });

                        canvas.dataset.loaded = "true";
                        this.textContent = "График загружен";
                    })
                    .catch(err => {
                        console.error(err);
                        alert("Ошибка загрузки графика");
                        this.textContent = "Ошибка";
                    });
            });
        });
    });




    const portfolio_distribution = document.getElementById('chart-portfolio-distribution');

    new Chart(portfolio_distribution, {
        type: 'doughnut',

        data: {
            labels: {{ var.metrics.distribution.labels|safe }},
            datasets: [{
                label: 'Структура портфеля',
                data: {{ var.metrics.distribution.values|safe }},
                backgroundColor: [
                    '#6366f1',
                    '#22c55e',
                    '#f97316',
                    '#ef4444',
                    '#14b8a6'
                ],
                borderWidth: 1,
                borderColor: '#BDEEE5',
                hoverBorderColor: '#BDEEE5',
                hoverBorderWidth: 3
            }]
        },

        options: {
            responsive: false,

            plugins: {
                legend: {
                    position: 'right'
                },

                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return context.label + ': ' + context.raw + '%';
                        }
                    }
                }
            }
        }
    });
</script>

</html>